.App {
  text-align: center;
}

nav {
  background-color: rgb(233, 171, 0);
  display: flex;
  position: sticky;
  top: 0;
  overflow: hidden;
}
nav a{
  text-decoration: none;
  color: black;
  font-weight: 500;
  font-size: 20px;
  padding: 10px 20px;
}
nav a:hover{
  background-color: rgba(255, 255, 255, 0.309);
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
